<!--资源屏蔽模块-->
<div>
    <h3 class="text-center"><strong>结点屏蔽控制台</strong></h3>
    <hr class="content-divider">
    <div class="container">
        <div class="row">
            <div class="btn-group-lg" >
                <button type="button" class="btn" ng-click="breverse1()" ng-class="{true:'btn-primary',false:'btn-default'}[boption1]">色情不良信息</button>
                <button type="button" class="btn" ng-click="breverse2()" ng-class="{true:'btn-warning',false:'btn-default'}[boption2]">反动不良信息</button>
                <button type="button" class="btn" ng-click="breverse3()" ng-class="{true:'btn-success',false:'btn-default'}[boption3]">暴力不良信息</button>
                <button type="button" class="btn" ng-click="breverse4()" ng-class="{true:'btn-info',false:'btn-default'}[boption4]">文档</button>
                <button type="button" class="btn" ng-click="breverse5()" ng-class="{true:'btn-success',false:'btn-default'}[boption5]">图像</button>
                <button type="button" class="btn" ng-click="breverse6()" ng-class="{true:'btn-warning',false:'btn-default'}[boption6]">视频</button>
                <div class="btn-group">
                    <button  type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{pZone}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="zonePicker('中国')">中国</a></li>
                        <li><a ng-click="zonePicker('美国')">美国</a></li>
                        <li><a ng-click="zonePicker('意大利')">意大利</a></li>
                        <li><a ng-click="zonePicker('韩国')">韩国</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="zonePicker('日本')">日本</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-warning pull-right">全部选择</button>
            </div>

            <hr class="button-divider">

        </div>
        <hr class="content-divider">
        <!--Main content-->
        <div class="row">
            <div class="media-list">
                <div ng-repeat="item in noderecord" ng-mouseover="btnshow($index)" ng-mouseleave="btnhide()" class="media animated fadeInRight">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" ng-src="{{item.src}}" alt="img">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong>Ip地址:{{item.heading}}</strong>
                            <div ng-show="btnflag==$index" class="btn-group-sm pull-right animated fadeIn">
                                <button type="button" marknode tag="{{item.ip}}" class="btn  btn-warning">标记节点</button>
                                <button type="button" ng-click="hidenodeitem($index)" class="btn  btn-success">忽略</button>
                            </div>
                        </h4>
                        <p>归属地：{{item.belonging}}</p>
                        <P>捕获时间:{{item.capturetime}}</P>
                        <p>反动资源数目：<span class="label label-default">{{item.antinum}}</span></p>
                        <p>色情资源数目：<span class="label label-default">{{item.pornnum}}</span></p>
                        <p>暴力资源数目：<span class="label label-default">{{item.vionum}}</span></p>
                        <p>节点关键词：
                            <span ng-repeat="tag in item.feature" class="label label-info">{{tag}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <hr class="button-divider">
            <button type="button"  data-ng-click="stop()" class="btn btn-block btn-danger"><strong>确认屏蔽</strong></button>
        </div>
    </div>
</div>