<!--概况模块-->
<div>
    <div class="container center-block">
        <div class="row ">
            <h3 class="text-center text-info"><strong>系统状态</strong></h3>
            <hr class="button-divider">
            <div class="col-md-4 text-info text-center">
                <div class="">
                    <p  ><i class="glyphicon glyphicon-time"></i><strong>不良资源统计</strong></p>
                    <h2 ><strong>{{badResourceNum}}</strong></h2>
                    <p><i class="glyphicon glyphicon-arrow-up"></i><span style="color: lightseagreen"><strong>30%</strong></span> From last Week</p>
                </div>
            </div>
            <div class="col-md-4 text-info   text-center">
                <div>
                    <p  ><i class="glyphicon glyphicon-time"></i><strong>不结点节点统计</strong></p>
                    <h2 ><strong>{{badNodeNum}}</strong></h2>
                    <p><i class="glyphicon glyphicon-arrow-down"></i><span class="text-warning"><strong>50%</strong></span> From last Week</p>
                </div>
            </div>
            <div class="col-md-4 text-info  text-center">
                <div >
                    <p  ><i class="glyphicon glyphicon-time"></i><strong>不良直播统计</strong></p>
                    <h2 ><strong>{{badResourceNum}}</strong></h2>
                    <p><i class="glyphicon glyphicon-arrow-down"></i><span style="color: lightcoral"><strong>45%</strong></span> From last Week</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center-block" style="width: auto;height: 500px;margin: 0 20px" id="dynamicChart"></div>
        </div>
    </div>
    <div class="container">
        <hr class="featurette-divider">
        <div ng-switch="overviewTypeFlag" class="row whitebox">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{'nonlive':'active','live':''}[overviewTypeFlag]"><a ng-click="overviewSwitch('nonlive')" class="text-info" role="tab">不良资源检测列表</a></li>
                <li role="presentation" ng-class="{'nonlive':'','live':'active'}[overviewTypeFlag]"><a ng-click="overviewSwitch('live')" class="text-info" role="tab">不良直播节目列表</a></li>
                <li role="presentation" class="pull-right"><a class="text-info">自定义排序</a></li>
                <li role="presentation" class="pull-right"><a class="text-info">分类排序</a></li>
                <li role="presentation" class="active pull-right"><a class="text-info">时间排序</a></li>
                <li role="presentation" class="pull-right"><a class="text-info">敏感度排序</a></li>
            </ul>
            <table ng-switch-when="nonlive" class="table text-center table-hover">
                <caption class="text-center text-danger"><h3>资源热度排行榜</h3></caption>
                <thead>
                <tr>
                    <td></td>
                    <td>资源名称</td>
                    <td>类别</td>
                    <td>源地址</td>
                    <td>归属地</td>
                    <td>下载量</td>
                    <td>捕获时间</td>
                    <td>状态</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in overviewNonLiveRecords">
                    <td><img class="img-responsive" ng-srcset="{{item.src}}"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.ip}}</td>
                    <td>{{item.belonging}}</td>
                    <td>{{item.downloadNum}}</td>
                    <td>{{item.capturetime}}</td>
                    <td><span class="label label-danger">{{item.status}}</span></td>
                </tr>
                </tbody>
            </table>
            <div ng-switch-when="live">
                <h3 class="text-center"><strong>敏感直播节目列表</strong></h3>
                <hr class="content-divider">
                <div class="col-md-3" ng-repeat="item in overviewLiveRecords">
                    <div class="thumbnail">
                        <img ng-srcset="{{item.src}}">
                        <hr class="button-divider">
                        <div class="caption">
                            <h3 class="text-center">{{item.title}}</h3>
                            <p>直播平台：<span class="label label-info pull-right">{{item.platform}}</span></p>
                            <p>在线观看人数：<span class="label label-danger pull-right">{{item.number}}</span></p>
                            <p>类别：<span class="label label-warning pull-right">{{item.livetype}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<script src="../js/charthelper/dynamicChart.js"></script>
