<!--实时模块-->
<div>
    <h3 class="text-center"><strong>实时滚动列表</strong></h3>
    <hr class="content-divider">
    <div class="container" ng-switch="realtimeTypeFlag">
        <div class="row">
            <div class="btn-group-lg" >
                <button type="button" class="btn" ng-click="breverse1()" ng-class="{true:'btn-primary',false:'btn-default'}[boption1]">色情不良信息</button>
                <button type="button" class="btn" ng-click="breverse2()" ng-class="{true:'btn-warning',false:'btn-default'}[boption2]">反动不良信息</button>
                <button type="button" class="btn" ng-click="breverse3()" ng-class="{true:'btn-success',false:'btn-default'}[boption3]">暴力不良信息</button>
                <button type="button" class="btn" ng-click="breverse4()" ng-class="{true:'btn-info',false:'btn-default'}[boption4]">文档</button>
                <button type="button" class="btn" ng-click="breverse5()" ng-class="{true:'btn-success',false:'btn-default'}[boption5]">图像</button>
                <button type="button" class="btn" ng-click="breverse6()" ng-class="{true:'btn-warning',false:'btn-default'}[boption6]">视频</button>
                <div class="btn-group">
                  <button  type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{pZone}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a ng-click="zonePicker('中国')">中国</a></li>
                      <li><a ng-click="zonePicker('美国')">美国</a></li>
                      <li><a ng-click="zonePicker('意大利')">意大利</a></li>
                      <li><a ng-click="zonePicker('韩国')">韩国</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a ng-click="zonePicker('日本')">日本</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-danger pull-right">暂停滚动</button>
                <button type="button" class="btn btn-success pull-right" style="margin-right: 5px" >开始滚动</button>
            </div>
            <hr class="button-divider">
        </div>
        <div class="row">
            <ul class="nav nav-pills nav-justified">
                <li  role="presentation" ng-class="{'nonlive':'active','live':''}[realtimeTypeFlag]"><a ng-click="realtimeSwitch('nonlive')" class="text-primary"><h4><strong>敏感结点资源</strong></h4></a></li>
                <li  role="presentation" ng-class="{'live':'active','nonlive':''}[realtimeTypeFlag]"><a  ng-click="realtimeSwitch('live')"class="text-primary"><h4><strong>敏感直播</strong></h4></a></li>
            </ul>
        </div>
        <hr class="content-divider">
        <!--Main Resourece Content-->
        <div ng-switch-when="nonlive" class="row">
            <div class="media-list">
                <div ng-mouseover="btnshow($index)" ng-mouseleave="btnhide()" class="media  animated fadeInUpBig" ng-repeat="item in realtimeNonLiveRecord">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" ng-srcset="{{item.src}}" alt="img">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong>Ip地址:{{item.title}}</strong>
                            <div ng-show="btnflag==$index" class="btn-group-sm pull-right animated fadeIn">
                                <button type="button" tag="{{item.id}}" marksource class="btn  btn-warning">标记资源</button>
                                <button type="button" tag="{{item.ip}}" marknode class="btn  btn-danger">标记结点</button>
                            </div>
                        </h4>
                        <p>归属地：{{item.belonging}}</p>
                        <P>捕获时间:{{item.capturetime}}</P>
                        <p>文件名：{{item.filename}}</p>
                        <p>文件类型:<span ng-repeat="filetag in item.filetype" class="label label-info">{{filetag}}</span></p>
                        <p>分类标准：<span ng-repeat="classtype in item.classification" class="label label-danger">{{classtype}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Main Live Content-->
        <div ng-switch-when="live" class="row">
            <div ng-repeat="item in realtimeLiveRecord" class="col-md-3 animated fadeInUpBig">
                <div class="thumbnail">
                    <img ng-srcset="{{item.src}}">
                    <hr class="button-divider">
                    <div class="caption">
                        <h3 class="text-center">{{item.title}}</h3>
                        <p>直播平台：<span class="label label-info pull-right">{{item.platform}}</span></p>
                        <P>捕获时间：{{item.capturetime}}</P>
                        <p>在线观看人数：<span class="label label-danger pull-right">{{item.number}}</span></p>
                        <p>类别：<span class="label label-warning pull-right">{{item.livetype}}</span></p>
                        <hr class="button-divider">
                        <p><button class="btn btn-block btn-success">举报</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-default>
            none
        </div>
    </div>
</div>