<!--资源屏蔽模块-->
<div>
    <h3 class="text-center"><strong>资源屏蔽控制台</strong></h3>
    <hr class="content-divider">
    <div class="container">
        <div class="row">
            <div class="btn-group-lg" >
                <button type="button" class="btn  btn-primary">色情不良信息</button>
                <button type="button" class="btn  btn-warning">反动不良信息</button>
                <button type="button" class="btn  btn-success">暴力不良信息</button>
                <button type="button" class="btn  btn-info">文档</button>
                <button type="button" class="btn  btn-primary">图像</button>
                <button type="button" class="btn  btn-warning">视频</button>
                <button type="button" class="btn btn-success">中国</button>
                <button type="button" class="btn btn-warning pull-right">全部选择</button>
            </div>

            <hr class="button-divider">

        </div>
        <hr class="content-divider">
        <!--Main content-->
        <div class="row">
            <div class="media-list" ng-repeat="item in resourcerecord">
                <div class="media animated fadeInRight" id="{{$index}}" ng-mouseover="btnshow($index)" ng-mouseleave="btnhide()">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" ng-srcset="{{item.src}}" alt="img">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong>{{item.heading}}</strong>
                            <div ng-show="btnflag==$index" class="btn-group-sm animated fadeIn pull-right">
                                <button type="button" marksource tag="{{item.id}}" class="btn  btn-warning">标记资源</button>
                                <button type="button" marknode tag="{{item.ip}}"  class="btn  btn-danger">标记结点</button>
                                <button type="button" ng-click="hideresourceitem($index)"  class="btn  btn-success">忽略</button>
                            </div>
                        </h4>
                        <p>{{item.belonging}}</p>
                        <P>{{item.capturetime}}</P>
                        <p>{{item.resourcename}}</p>
                        <p>文件类型:<span class={{item.labeltype}}>{{item.resourcetype}}</span></p>
                        <p>分类标准：<span class={{item.labeltype}}>{{item.classfystandard}}</span></p>
                    </div>
            </div>

            </div>
            <hr class="button-divider">
            <button type="button" class="btn btn-block btn-danger"><strong>确认屏蔽</strong></button>
        </div>
    </div>
</div>